body {
    background-color: chocolate;
}
.content {
    background-color: coral;
    max-width: 780px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
}
@media (max-width: 620px) {
    .content {
        font-size: 1.5em;
    }
}
h1 {
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, red, fuchsia);
}
del {
    text-decoration: line-through;
    text-decoration-color: blueviolet;
}
#output {
    background-color: chartreuse;
    padding: 5px 50px;
}

#input {
    background-color: sandybrown;
}